.hidden {
  display: none;
}
h1,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-color: rgb(227, 246, 227);
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  width: fit-content;
  background-color: #b4f1da;
  box-shadow: 1px 1px 1px black;
  border: none;
  border-radius: 15px;

  height: 50px;
}

button:hover {
  background-color: #f8d9b1;
  color: #72230a;
}
