.Goals .error-message {
  color: red;
}

.Goals {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}

.Goals form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin: auto;
}

.user-details {
  border-top: 2px solid honeydew;
  background-color: #72230a;
  color: rgb(212, 249, 212);
  padding: 15px;
  line-height: 150%;
}

.user-details h2 {
  color: rgb(255, 217, 0);
}

#metric,
#imperial {
  width: fit-content;
  margin: 10px;
}

#imperial {
  margin-bottom: 30px;
}

.Goals label {
  font-weight: bold;
}

.Goals input,
select {
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px rgba(128, 128, 128, 0.5) solid;
}

.Goals select {
  width: 275px;
}

.Goals button {
  width: 100px;
}

.Goals h3 {
  margin: 20px 0;
}

@media screen and (width > 768px) {
  .Goals input,
  select {
    margin: 10px 0;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    border: 1px rgba(128, 128, 128, 0.5) solid;
  }
}
