.Header {
  padding: 5px;
  margin: 0;
  display: flex;
  background-color: #326b58;
  padding: 10px;
  justify-content: space-between;
}

.Header h1 {
  color: #f8d9b1;
  font-size: 35px;
  text-shadow: 1px 2px 1px black;
}

.Header .link {
  color: #f8d9b1;
}

.headingGroup2 ul {
  display: flex;
  flex-direction: column;
}

.headingGroup2 .link {
  margin: 10px;
}

.user-greeting {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.user-greeting img {
  width: 60px;
  height: 60px;
}

.user-greeting button {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  width: 140px;
  margin: 10px auto 0 auto;
}

.user-greeting button:hover {
  background-color: #f8d9b1;
  color: #72230a;
}

.greeting {
  color: #f8d9b1;
}

.name-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
}

.name-img img {
  margin: 10px auto 10px auto;
}

.headerGroup1 {
  text-align: left;
}

#icon {
  width: 100px;
  height: 100px;
}

.user-photo {
  border-radius: 50%;
}

ul {
  list-style: none;
}

@media screen and (width > 768px) {
}
