.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img {
  width: auto;
  padding: 50px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.Home h2 {
  padding: 30px;
  text-align: center;
  color: #72230a;
  font-size: 35px;
}
.Home h3 {
  text-align: center;
  color: green;
}

.Home button {
  margin-bottom: 20px;
  background-color: #3fbb87;
  color: rgb(222, 243, 233);
}

.Home a {
  color: rgb(249, 164, 4);
}

#cow-container {
  background-color: #3fbb87;
  z-index: -1;
  width: fit-content;
  border-radius: 50%;
  margin: 100px auto 10px auto;
}

@media screen and (min-width: 768px) {
  .home-img {
    height: 200px;
  }
}
