.NutritionTracker .warning {
  color: red;
}
.NutritionTracker {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.PieChart {
  width: 300px;
  height: 350px;
  box-sizing: border-box;
}

.chart-holder {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}

.NutritionTracker .nutrition-table {
  margin: 20px 0;
  background-color: beige;
  border: 1px solid burlywood;
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
}

.NutritionTracker .nutrition-table tr {
  border: 1px solid brown;
}
.NutritionTracker .nutrition-table tr:hover {
  background-color: rgb(248, 248, 236);
}

.NutritionTracker .nutrition-table td {
  /* border: 1px solid brown; */
  padding: 20px 10px;
}
.NutritionTracker .nutrition-table td:hover {
  background-color: burlywood;
}

.NutritionTracker .nutrition-table th {
  /* border-left: 1px solid beige; */
  padding: 15px;
  background-color: #0d772b;
  color: beige;
  font-weight: bold;
}

.NutritionTracker .nutrition-table .label {
  font-weight: bold;
}

.NutritionTracker form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 400px;
  background-color: burlywood;
  color: beige;
  border-radius: 20px;
}
.NutritionTracker form label {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.NutritionTracker input {
  padding: 5px;
  border-radius: 5px;
}

.NutritionTracker button {
  margin: 10px 0;
}

.NutritionTracker .nutrition-charts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NutritionTracker .plate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (width > 768px) {
  .NutritionTracker .nutrition-charts {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 80%;
  }

  .NutritionTracker .plate {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
