.Recipe {
  padding: 20px;
}

#search-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#search-form label {
  margin: 15px 0 15px 0;
}

#search-form input {
  width: 50%;
  padding: 1.5%;
  margin-bottom: 10px;
  border-radius: 20px;
  margin: auto;
}

#search-form #veg {
  width: fit-content;
  margin-left: 10px;
  margin-top: 5px;
  padding: 1%;
}

#search-form button {
  margin: auto;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: fit-content;
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: #60be97;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.recipe h3 {
  color: rgb(213, 250, 213);
  background-color: #72230a;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid honeydew;
  margin-bottom: 10px;
}

.readMoreButton {
  margin: 10px 10px 20px 0;
}

.recipe img {
  margin: 10px auto;
  width: 250px;
  border-radius: 5px;
}

.recipe label {
  margin: 20px;
}

@media screen and (width > 768px) {
  #search-form {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #search-form label {
    width: 100%;
    margin: 20px auto 10px auto;
  }

  #search-form button {
    margin: auto;
  }

  #search-bar {
    margin: auto;
  }

  .recipes-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recipe {
    text-align: center;
    margin: auto;
    height: auto;
    width: 350px;
    justify-content: space-evenly;
  }

  .recipe img {
    height: auto;
  }

  .recipe h3 {
    font-size: 16px;
    width: 300px;
  }
}
