.Recipe-card .hidden {
  display: none;
}

.RecipeCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
}

.RecipeCard .heart {
  height: 30px;
  margin: 10px;
  width: 35px;
  transition: transform 0.2s;
}

.RecipeCard .recipe-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart:hover {
  transform: scale(1.1);
}

@media screen and (width > 768px) {
}
